.tituloh {color:dodgerblue;
          font-family:"monaco",monospace;
          font-size: 22px;}
      .topico {color:#436EEE;
        font-size:17px;}
      #opcoes {color:#436EEE;
        font-size:17px;}
body{background-color:#E8E8E8;}